/* .navbar{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color: antiquewhite;
height: 80px;
align-items: center;
color: black;
padding-top: 0%;
padding-left:0%;
list-style: none;

} */
